<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/aboutus.css">
    <%- include("css.ejs") %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<%- include("header.ejs") %>
<%- include("nav.ejs") %>
<div class="welcome">
    <div class="row">
        <div class="col-sm-6">
            <img src="http://velikorodnov.com/html/autotrader/images/555x355_img1@2x.jpg" alt="" width="555" height="355">
        </div>
        <div class="col-sm-6">
            <h2><b>Welcome to CARRIO MOTOR</b></h2>
            <p class="text-size-medium"><b>Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. </b></p>
            <p class="text-size-medium">Vestibulum libero nisl, porta vel. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
            <p class="text-size-medium">Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum.</p>
        </div>
    </div>




        <div class="page-section-bg">
            <div class="ul">
                <div class="container">
                    <h2 class="2">Company Statistics</h2>
                    <div class="row counter-wrap">
                        <div class="col-lg-3 col-md-6 col-xs-6">
                            <div class="counter counted">
                                <span class="licon-medal-empty"></span>
                                <div class="counter-inner">
                                    <h3><i id="1" class="glyphicon glyphicon-calendar"></i> 25</h3>
                                    <p>Years of Successful Work</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-6">
                            <div class="counter counted">
                                <span class="licon-smile"></span>
                                <div class="counter-inner">
                                    <h3 class="timer count-number" data-to="5970" data-speed="1500"><i id="1" class="glyphicon glyphicon-user"></i>     5970</h3>
                                    <p>Satisfied Clients</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-6">
                            <div class="counter counted">
                                <span class="licon-earth"></span>
                                <div class="counter-inner">
                                    <h3 class="timer count-number" data-to="17" data-speed="1500"><i id="1" class="glyphicon glyphicon-globe"></i> 17</h3>
                                    <p>Sealer Branches</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-6">
                            <div class="counter counted">
                                <span class="licon-car2"></span>
                                <div class="counter-inner">
                                    <h3  class="timer count-number" data-to="44278" data-speed="1500"><i id="1" class="glyphicon glyphicon-shopping-cart"></i>  44278</h3>
                                    <p>Vehicles For Sale</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-section half-bg-col">
                <div class="img-col-right"><div class="col-bg" data-bg="images/975x480_img1.jpg"></div></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="text">
                                <h2><b>Auto Service and Repair</b></h2>
                                <p>Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisMauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. </p>
                                <p class="text-size-medium"><b>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. </b></p>
                                <p>Vestibulum sed ante. Donec sagittis euismod purus.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                                <a href="#" class="info-btn">Schedule a Service Appointment</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="/imgcarworld/room1.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>`

</div>




<div class="thanhtich">
    <div class="page-section half-bg-col">
        <div class="img-col-left"><div class="col-bg" data-bg="images/975x480_img2.jpg"></div></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="/imgcarworld/room2.jpg">
                </div>
                <div class="col-md-6">
                    <div class="text">
                        <h2><b>Car Loans and Auto Financing</b></h2>
                        <p>Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisMauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. </p>
                        <p class="text-size-medium"><b>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. </b></p>
                        <p>Vestibulum sed ante. Donec sagittis euismod purus.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                        <a href="#" class="info-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="last">
    <div class="page-section half-bg-col">
        <div class="img-col-right"><div class="col-bg" data-bg="images/975x480_img3.jpg"></div></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text">
                        <h2><b>Auto Insurance</b></h2>
                        <p>Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisMauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. </p>
                        <p class="text-size-medium"><b>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. </b></p>
                        <p>Vestibulum sed ante. Donec sagittis euismod purus.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                        <a href="#" class="info-btn">Read More</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/imgcarworld/room3.jpg">
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("footer.ejs") %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>