<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>world car</title>
    <link rel="stylesheet" href="/css/creation.css">
    <%- include("css.ejs") %>
</head>
<body>
<%- include("header.ejs") %>
<%- include("nav.ejs") %>
<div  class="main">
    <img src="../imgcarworld/bmw.jpg" >
</div>
<div class="content">
    <div class="car-left">
        <div class="imag">
            <img src="../imgcarworld/audi.jpg" >
        </div>
        <div class="textcar">
            <h2> Audi </h2>
            <p1>
                Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.
                Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, sce
                lerisque eget, malesuada at, neque. Vivamus eget nibh.
                Etiam cursus leo vel metus.
            </p1>
        </div>
    </div>
    <div class="car">
        <div class="imag">
            <img src="../imgcarworld/volvo.jpg" >
        </div>
        <div class="texcar">
            <h2> Volvo </h2>
            <p1>
                Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in
                faucibus orci luctus. Neque porro quisquam est, qui dolorem ipsum
                quia dolor sit amet,nsectetur, adipisci velit, sed quia non numquam eius modi.
            </p1>
        </div>
    </div>
    <div class="car-left">
        <div class="imag">
            <img src="../imgcarworld/merc.jpg" >
        </div>
        <div class="textcar">
            <h2>Mercsedec</h2>
            <p1>
                Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.
                Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel
                , scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam
                cursus leo vel metus.
            </p1>
        </div>
    </div>
    <div class="car">
        <div class="imag">
            <img src="../imgcarworld/merc.jpg" >
        </div>
        <div class="textcar">
            <h2>Mercsedec</h2>
            <p1>
                Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.
                Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel
                , scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam
                cursus leo vel metus.
            </p1>
        </div>
    </div>
</div>
<%- include("footer.ejs") %>
</body>
</html>