<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>design</title>
    <link rel="stylesheet" href="/css/design.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%- include("css.ejs") %>
</head>
<body>
<%- include("header.ejs") %>
<%- include("nav.ejs") %>
     <img id="main" src="/imgcarworld/design1.jpeg" >
     <div class="vision">
         <h3> <u> VISION EQXX </u></h3>
          <h2>VISION EQXX: The new benchmark of efficiency</h2>
     </div>
     <div class="main-1">
          <div class="page-section half-bg-col">
               <div class="container">
                    <div class="row">
                         <div class="imgmain1">
                              <div class="col-md-6">
                                   <img src="/imgcarworld/imgmain1.jpg">
                              </div>
                         </div>
                         <div class="col-md-6">
                              <div class="textmain1">
                                   <h2><b>Mercedes-Benz VISION EQXX - Leading the way. For over 1,000 kilometres.</b></h2>
                                   <p>
                                        Mercedes-Benz is setting new standards for electric range and efficiency
                                        with the VISION EQXX. The prototype demonstrates just how efficient,
                                        sustainable and luxurious electromobility can be. This champion of efficiency
                                        has a range of more than 1,000 kilometres on a single battery charge, which equates
                                        to consumption of less than 10 kWh of energy per 100 kilometres. This is due in part
                                        to the exterior design and aerodynamics, which achieve a benchmark drag coefficient
                                        of 0.17. The irresistible bodywork takes the revolution further: the VISION EQXX
                                        demonstrates precisely what will make an electric vehicle a Mercedes-Benz in the
                                        future, with lightweight design, battery innovations and new materials.
                                   </p>
                                   <a href="#">More about the Vision EQXX</a>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <div class="inlight">
          <h3> <u> Design Insight </u></h3>
          <h2>Design Insight.</h2>
     </div>
     <div class="main-2">
          <div class="page-section half-bg-col">
               <div class="container">
                    <div class="row">
                         <div class="col-md-6">
                              <div class="textmain2">
                                   <h2><b>Mercedes-Benz design philosophy.</b></h2>
                                   <p>
                                        Design creates the exceptional and plays a crucial role in defining the public brand image.
                                        The designers of the Daimler design
                                        division create the cars of the future today at the crossroads of tradition and modernity.
                                        To them, a comprehensive approach is essential bec
                                        ause both the products as well as the brands of Mercedes-Benz Group AG have to be put in p
                                        erfect light. That is why the global team around Daimler Head of Design Gorden Wagener designs
                                        all brands and products of the company - from the automobiles to the holistic corporate design of
                                        all brands of the Group. As a result, the designers create all touchpoints where a customer comes into
                                        contact with the company, while at the same time creating an overall experience.
                                   </p>
                                   <a href="#">More about the Vision EQXX</a>
                              </div>
                         </div>
                         <div class="col-md-6">
                              <img src="/imgcarworld/design2.jpeg">
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <img id="img1" src="/imgcarworld/design3.jpg">
     <div class="inlight">
          <h3> <u> Advanced Design Studios   </u></h3>
          <h2>Advanced Design Studios.</h2>
          <h4>A dialogue with the future.</h4>
     </div>
<img id="imgmain3" src="/imgcarworld/design4.jpeg">
<div class="main-3">
     <div class="page-section half-bg-col">
          <div class="container">
               <div class="row">
                    <div class="imgmain1">
                         <div class="col-md-6">
                              <img src="/imgcarworld/design5.jpg">
                         </div>
                         <p id="text3">
                              Day in, day out, the designers of the Daimler Design unit
                              create vehicles that will not catch people's eyes on the
                              road until years later. Their colleagues in the five
                              Mercedes-Benz Advanced Design Studios travel even farther
                              into the future. They frequently think a decade and more a
                              head. In this process, they not only look to the domestic m
                              arket for orientation, but also incorporate new trends from
                              other continents and foreign cultures.
                         </p>
                    </div>
                    <div class="col-md-6">
                         <div class="textmain3">

                              <p id="text4">
                                   Their job is to think ahead globally into the future, cultivate
                                   cultural exchange and conduct trend research. That is why four
                                   of the five advanced design studios of Mercedes-Benz are located
                                   abroad. It is not about following fads, but about identifying
                                   long-term trends, which increase the value of the Mercedes-Benz
                                   brand for many decades, ideas that meet the highest standards
                                   regarding technology, performance, comfort, and safety. The advanced
                                   design studios are creative spaces where the designers can let their
                                   thoughts roam freely without thinking of a series production right away.
                              </p>
                              <a href="#">More about the Vision EQXX</a>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
<a href="#"> <h3 id="read"> <i class="glyphicon glyphicon-menu-down"></i>Read More</h3></a>

<div class="advan-3">
     <h4> <u> Advanced Design Studios - Locations  </u></h4>
     <h2>Advanced Design Studios - Locations.</h2>
</div>
     <div class="button">
          <a class="btn btn-default" href="#" role="button">8 Ton That Thuyet</a>
          <a class="btn btn-default" href="#" role="button">47 Pham Van Dong</a>
          <a class="btn btn-default" href="#" role="button">67 Tran Nhan Tong</a>
     </div>
<div class="main-4">
     <div class="page-section half-bg-col">
          <div class="container">
               <div class="row">
                    <div class="col-md-6">
                         <div class="textmain2">
                              <h2><b>Advanced Exterior Design Studio Carlsbad.</b></h2>
                              <p>
                                   The advanced design studios are creative spaces where the designers can let their thoughts roam freely without thinking of a series production right away. In Carlsbad, California, designers are creating the exteriors of show cars, concept cars, and mobility concepts for tomorrow and beyond. The location is subject to the influences of the typical Californian lifestyle and to the proximity to Hollywood. As a result, Carlsbad is home to a very special form or creativity, which also leaves its marks on the design of the Mercedes-Benz production models, and opens up new perspectives.
                              </p>
                              <a href="#">More about the Vision EQXX</a>
                         </div>
                    </div>
                    <div class="col-md-6">
                         <img src="/imgcarworld/design6.jpeg">
                    </div>
               </div>
          </div>
     </div>
</div>
<div class="main-5">
     <div class="page-section half-bg-col">
          <div class="container">
               <div class="row">
                    <div class="imgmain1">
                         <div class="col-md-6">
                              <img src="/imgcarworld/imgmain1.jpg">
                         </div>
                    </div>
                    <div class="col-md-6">
                         <div class="textmain1">
                              <h2><b>Mercedes-Benz VISION EQXX - Leading the way. For over 1,000 kilometres.</b></h2>
                              <p>
                                   Mercedes-Benz is setting new standards for electric range and efficiency
                                   with the VISION EQXX. The prototype demonstrates just how efficient,
                                   sustainable and luxurious electromobility can be. This champion of efficiency
                                   has a range of more than 1,000 kilometres on a single battery charge, which equates
                                   to consumption of less than 10 kWh of energy per 100 kilometres. This is due in part
                                   to the exterior design and aerodynamics, which achieve a benchmark drag coefficient
                                   of 0.17. The irresistible bodywork takes the revolution further: the VISION EQXX
                                   demonstrates precisely what will make an electric vehicle a Mercedes-Benz in the
                                   future, with lightweight design, battery innovations and new materials.
                              </p>
                              <a href="#">More about the Vision EQXX</a>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
<%- include("footer.ejs") %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
