<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>develop</title>
    <link rel="stylesheet" href="/css/develop.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%- include("css.ejs") %>
</head>
<body>
<%- include("header.ejs") %>
<%- include("nav.ejs") %>
<h1> Develop </h1>
<img src="/imgcarworld/deve1.jpg">
<div class="road">
    <h3>
        <u>
            On the road to sustainable mobility
        </u>
    </h3>
    <h2>
        Our battle against the wind is over.
    </h2>
    <h4>
        Since the invention of the automobile, Mercedes-Benz has been fighting a battle against the wind. Soon, however, we are working together in partnership. From 2022, all Mercedes-Benz plants worldwide will only purchase electricity from renewable energy sources. This marks another milestone on the road to sustainability.
    </h4>
</div>
<div class="main-1">
    <div class="page-section half-bg-col">
        <div class="container">
            <div class="row">
                <div class="imgmain1">
                    <div class="col-md-6">
                        <img src="/imgcarworld/deve2.jpeg">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="textmain1">
                        <h2><b>On the road to carbon-neutral mobility.</b></h2>
                        <p>
                            Zero-emissions mobility – guided by this vision, we are working to protect our planet and keep our air clean. It is a core component of our sustainable business strategy. Our ambition is to make our new vehicle fleet CO2-neutral by 2039.
                        </p>
                        <div class="fonticon">
                        <a href="#"> <i class="glyphicon glyphicon-chevron-right"></i> Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-2">
    <div class="page-section half-bg-col">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="textmain2">
                        <h2><b>"Factory 56".</b></h2>
                        <p>
                            Eight months after the foundation stone was laid for one of the world’s most cutting-edge automotive manufacturing sites, Mercedes-Benz Cars is giving its first in-depth insights into the underlying principles at "Factory 56".
                        </p>
                        <div class="fonticon">
                            <a href="#"> <i class="glyphicon glyphicon-chevron-right"></i> Learn More</a>
                        </div>                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/imgcarworld/devel33.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("footer.ejs") %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
