<link rel="stylesheet" href="/css/header.css">
<div class="section container hea-der">
        <div class="row">
                <div class="col-md-3 lo-go">
                        <a href="/"><h3>CARRIO MOTOS</h3></a>
                </div>

                <div class="col-md-4">
                        <div class="box">
                                <div class="container-1">
                                        <form action="/search" method="get">

                                        <input name="search" type="search" id="search" placeholder="Search..." />
                                                <button type="submit"><span class="icon"><i class="fa fa-search"></i></span></button>
                                        </form>

                                </div>
                        </div>
                </div>
        </div>
</div>
