<div class="full-screen-preview">
    <div class="row address ">
        <div class="col-md-5"><i class="fa-solid fa-location-crosshairs"></i><a href="#"> 8 Tôn Thất Thuyết, Mỹ Đình, Cầu Giấy, Hà Nội, Việt Nam</a></div>
        <div class="col-md-4"><i class="fa-solid fa-phone"></i><a href="#"> Liên hệ cho chúng tôi hotline: 0329.226.456</a></div>
        <div class="col-md-3"><i class="fa-solid fa-envelope"></i><a href="#"> info@cariomoto.com</a></div>
    </div>
</div>
<header class="full-screen-preview">
        <div class="row">
            <div class="col-md-3">Lô gô</div>
            <div class="col-md-2">Các dòng xe </div>
            <div class="col-md-2">Tư Vấn mua xe </div>
            <div class="col-md-2">Dịch vụ xe </div>
            <div class="col-md-2">Thế giới xe</div>
            <div class="col-md-1">Tìm kiếm</div>
        </div>
</header>