<link rel="stylesheet" href="/css/intro-section.css">
<div class="full-screen-preview intro">
    <div class="container">
            <div class="intro-trai">
                <ul>
                    <li>Do You Have Question?</li>
                </ul>
            </div>

            <div class="intro-phai">
                <ul>
                    <li style="color: #dc3545"><button>GET IN TOUCH</button></li>
                </ul>
            </div>


    </div>
</div>