<div class="menu-holder">

    <div class="menu-wrap flex-row">

        <div class="nav-item">

            <!-- - - - - - - - - - - - - - Navigation - - - - - - - - - - - - - - - - -->

            <button id="responsive-nav-button" class="responsive-nav-button"></button><nav id="main-navigation" class="main-navigation">
                <ul id="menu" class="clearfix">
                    <li class="dropdown"><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Home</a>
                        <!--sub menu-->
                        <div class="sub-menu-wrap">
                            <ul>
                                <li class="sub"><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Home Page Layouts</a>
                                    <!--sub menu-->
                                    <div class="sub-menu-wrap sub-menu-inner">
                                        <ul>
                                            <li class="current"><a href="https://velikorodnov.com/html/autotrader/index.html">Auto Dealer 1</a></li>
                                            <li><a href="https://velikorodnov.com/html/autotrader/home_2.html">Auto Dealer 2</a></li>
                                            <li><a href="https://velikorodnov.com/html/autotrader/home_3.html">Auto Directory 1</a></li>
                                            <li><a href="https://velikorodnov.com/html/autotrader/home_4.html">Auto Directory 2</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="sub"><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Header Layouts</a>
                                    <!--sub menu-->
                                    <div class="sub-menu-wrap sub-menu-inner">
                                        <ul>
                                            <li><a href="https://velikorodnov.com/html/autotrader/index.html">Header 1</a></li>
                                            <li><a href="https://velikorodnov.com/html/autotrader/home_2.html">Header 2</a></li>
                                            <li><a href="https://velikorodnov.com/html/autotrader/home_3.html">Header 3</a></li>
                                            <li><a href="https://velikorodnov.com/html/autotrader/home_4.html">Header 4</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="sub"><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Footer Layouts</a>
                                    <!--sub menu-->
                                    <div class="sub-menu-wrap sub-menu-inner">
                                        <ul>
                                            <li><a href="https://velikorodnov.com/html/autotrader/index.html">Footer 1</a></li>
                                            <li><a href="https://velikorodnov.com/html/autotrader/home_2.html">Footer 2</a></li>
                                            <li><a href="https://velikorodnov.com/html/autotrader/home_3.html">Footer 3</a></li>
                                            <li><a href="https://velikorodnov.com/html/autotrader/home_4.html">Footer 4</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown has-megamenu"><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Inventory</a>
                        <!--sub menu-->
                        <div class="sub-menu-wrap mega-menu full-width-menu">
                            <div class="mega-submenu">
                                <h5>Inventory</h5>
                                <ul>
                                    <li><a href="https://velikorodnov.com/html/autotrader/cars_grid.html">Grid View</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/cars_list.html">List View</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/cars_single.html">Single Car Page<br>(Classified)</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/cars_single_dealer.html">Single Car Page<br>(Dealership)</a></li>
                                </ul>
                            </div>
                            <div class="mega-submenu">
                                <h5>By Body Style</h5>
                                <ul>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">All</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Sedans</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Coupes</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">SUVs</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Crossovers</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Hatchbacks</a></li>
                                </ul>
                            </div>
                            <div class="mega-submenu">
                                <ul>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Hybrids</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Convertibles</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Sports Cars</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Minivan</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Vans</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Luxury Cars</a></li>
                                </ul>
                            </div>
                            <div class="mega-submenu">
                                <h5>By Make</h5>
                                <ul>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">All</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Acura</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Alfa Romeo</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Aston Martin</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Audi</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Bentley</a></li>
                                </ul>
                            </div>
                            <div class="mega-submenu">
                                <ul>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">BMW</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Buick</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Cadillac</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Chevrolet</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Chrysler</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Dodge</a></li>
                                </ul>
                            </div>
                            <div class="mega-submenu">
                                <ul>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Ferrari</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">FIAT</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Ford</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Genesis</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">GMC</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Honda</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown has-megamenu"><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Pages</a>
                        <!--sub menu-->
                        <div class="sub-menu-wrap mega-menu">
                            <div class="mega-submenu">
                                <h5>Main Pages</h5>
                                <ul>
                                    <li><a href="https://velikorodnov.com/html/autotrader/about.html">About Us</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/our_staff.html">Our Staff</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/services.html">Services</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/contact.html">Contact Us</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/pricing.html">Pricing</a></li>
                                </ul>
                            </div>
                            <div class="mega-submenu">
                                <h5>Special Pages</h5>
                                <ul>
                                    <li><a href="https://velikorodnov.com/html/autotrader/sell_vehicle.html">Sell Your Vehicle</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/compare_vehicle.html">Compare Vehicles</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/car_calculation.html">Car Finance Calculator</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/find_dealer.html">Find a Dealer</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/dealer_page.html">Dealer Page</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/page_404.html">404 Page</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/coming_soon.html">Coming Soon Page</a></li>
                                </ul>
                            </div>
                            <div class="mega-submenu">
                                <h5>Other Features</h5>
                                <ul>
                                    <li><a href="https://velikorodnov.com/html/autotrader/shortcodes.html">Shortcodes</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/typography.html">Typography</a></li>
                                    <li><a href="https://velikorodnov.com/html/autotrader/columns.html">Columns</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="current dropdown"><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Reviews</a>
                        <!--sub menu-->
                        <div class="sub-menu-wrap">
                            <ul>
                                <li class="current"><a href="https://velikorodnov.com/html/autotrader/review_list.html">List View</a></li>
                                <li><a href="https://velikorodnov.com/html/autotrader/review_single.html">Single Review Post</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown"><a href="https://velikorodnov.com/html/autotrader/elements.html">Gallery</a>
                        <!--sub menu-->
                        <div class="sub-menu-wrap">
                            <ul>
                                <li><a href="https://velikorodnov.com/html/autotrader/gallery_2_columns.html">2 Columns With Details</a></li>
                                <li><a href="https://velikorodnov.com/html/autotrader/gallery_3_columns.html">3 Columns</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown"><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Blog</a>
                        <!--sub menu-->
                        <div class="sub-menu-wrap">
                            <ul>
                                <li><a href="https://velikorodnov.com/html/autotrader/blog_big_img.html">With Big Images</a></li>
                                <li><a href="https://velikorodnov.com/html/autotrader/blog_masonry.html">Masonry View</a></li>
                                <li><a href="https://velikorodnov.com/html/autotrader/blog_single.html">Single Blog Post</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown"><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Shop</a>
                        <!--sub menu-->
                        <div class="sub-menu-wrap">
                            <ul>
                                <li class="sub"><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Category Page</a>
                                    <!--sub menu-->
                                    <div class="sub-menu-wrap sub-menu-inner">
                                        <ul>
                                            <li><a href="https://velikorodnov.com/html/autotrader/shop_front_grid.html">Grid View</a></li>
                                            <li><a href="https://velikorodnov.com/html/autotrader/shop_front_list.html">List View</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="https://velikorodnov.com/html/autotrader/shop_product_page.html">Product Page</a></li>
                                <li><a href="https://velikorodnov.com/html/autotrader/shop_cart.html">Cart</a></li>
                                <li><a href="https://velikorodnov.com/html/autotrader/shop_checkout.html">Checkout</a></li>
                                <li><a href="https://velikorodnov.com/html/autotrader/shop_account.html">My Account</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>

            <!-- - - - - - - - - - - - - end Navigation - - - - - - - - - - - - - - - -->

        </div>

        <div class="contact-info-menu">

            <div class="contact-info-item">

                <div class="flex-row flex-center">

                    <i class="licon-telephone"></i>
                    <div class="item-inner">
                        <span>Call Us Today</span>
                        <a href="callto:#"><b>800-987-65-43</b></a>
                    </div>

                </div>

            </div>
            <div class="contact-info-item lang-button">

                <div class="flex-row flex-center">

                    <i class="licon-earth"></i>
                    <div class="item-inner">
                        <a href="https://velikorodnov.com/html/autotrader/review_list.html#">Language</a>
                        <ul class="dropdown-list">
                            <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">English</a></li>
                            <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">German</a></li>
                            <li><a href="https://velikorodnov.com/html/autotrader/review_list.html#">Spanish</a></li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>