<div class="full-screen-preview">
        <nav>
            <div class="mega-menu menuClass">
                <div class="mobile-nav-icon">
                    <a class="" href="#">
                        <span class="fa fa-bars"></span>
                    </a>
                </div>
                <div class="main-links">
                    <ul>
                        <li><a data-submenu="car-line"  href="#">Cars Lines</a></li>
                        <li><a data-submenu="support"  href="#">Car Buying Advice</a></li>
                        <li><a data-submenu="support"  href="#">Services</a></li>
                        <li><a data-submenu="support"  href="#">Car World</a></li>
                        <li><a href="#">Search <i class="fa-solid fa-magnifying-glass"style="font-size: 14px"></i></a></li>
                        <li><a><marquee>CARRIO MOTOS very pleased to serve you</marquee></a></li>
                        <li><a><i class="fa-solid fa-phone"></i> Hotline 24/7: 0329.226.456</a></li>
                    </ul>

                </div>
                <div class="menu-dropdown">

                    <ul class="menu-item-wrapper dropdown" id="car-line">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                    </ul>
                    <ul class="menu-item-wrapper dropdown" id="support">
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Support</a></li>
                    </ul>
                    <ul class="menu-item-wrapper dropdown" id="support">
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Support</a></li>
                    </ul>
                    <ul class="menu-item-wrapper dropdown" id="support">
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Support</a></li>
                    </ul>

                </div>
            </div>
        </nav>
</div>
<script type="text/javascript" src="/jQuery/jquery3.6.0.js"></script>
<script type="text/javascript" src="megamenu.js"> </script>
<script type="text/javascript">$(".mega-menu").megaMenu();</script>