<link rel="stylesheet" href="/css/our-agent.css">
<body>
<div class="container">
    <div class="row">
        <h3 id="our-agent"><b>OUR AGENT</b></h3>
        <div class="title-border">
            <div class="title-border-inner"></div>
            <div class="title-border-inner"></div>
            <div class="title-border-inner"></div>
            <div class="title-border-inner"></div>
        </div>

        <div class="agent col-md-3">
            <div class="thumb">
                <a href="#"><img src="/our-agent/img1.png"/></a>
            </div>
            <h4>Michelle Nelson</h4>
            <p>Support Manager</p>
        </div>

        <div class="agent col-md-3">
            <div class="thumb">
                <a href="#"><img src="/our-agent/img2.png"/></a>
            </div>
            <h4>Martin Smith</h4>
            <p>Web Developer</p>
        </div>

        <div class="agent col-md-3">
            <div class="thumb">
                <a href="#"><img src="/our-agent/img3.png"/></a>
            </div>
            <h4>Carolyn Stone</h4>
            <p>Creative Director</p>
        </div>
        <div class="agent col-md-3">
            <div class="thumb">
                <a href="#"><img src="/our-agent/img4.png"/></a>
            </div>
            <h4>Brandon Miller</h4>
            <p>Manager</p>
        </div>

    </div>
</div>
</body>