.main-1{
    padding-left: 50px;
}
.textmain1{
    padding-left: 100px;
}
.vision{
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
}
.inlight{
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
}
.advan-2{
    padding-top: 100px;
    padding-left: 100px;
}
#read{
    text-align: center;
}
#img1{
    padding-left: 100px;
    padding-bottom: 30px;
}
.button{
    padding-top: 50px;
    padding-left: 100px;
}
#imgmain3{
    padding-left: 50px;
}
.main-3{
    padding-top: 200px;
}
.textmain3{
    padding-left: 200px;
}
#text3{
    padding-left: 50px;
}
#text4{
    padding-top: 50px;
}
.advan-3{
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 25px;
}
.main-5{
    padding-bottom: 50px;
}