img{
    padding-left: 40px;
}
.road{
    padding-left: 40px;
    width: 60%;
    padding-bottom: 50px;
}
.textmain1{
    padding-left: 150px;
}
.fonticon{
    background-color: #e6f5ff;
    width: 100px;
}
.main-2{
    padding-top: 50px;
    padding-right: 100px;
}
