footer{

    color: #eeeeee;
    font-size: 20px;
    background-image: url("../imgcarworld/bg_ft.jpg");
}
footer li a {
    color: #eeeeee;
}
.footer-trai{
    float: left;
    width: calc(50% - 62px);
    border:1px;
    margin: 15px;
    padding: 15px;


}
.footer-phai{
    float: right;
    width: calc(50% - 62px);
    border:1px;
    margin: 15px;
    padding: 15px;
}
.footer-trai ul li {
    list-style: none;
}
.footer-trai ul li a {
    text-decoration: none;
}


.footer-phai ul {
    float:right;
}
.footer-phai ul li a {
    text-decoration: none;
}
footer a:hover {
    color:#dc3545 ;
}
