.header{
    margin: auto;
    padding: 10px;
    background-color: #dc3545;
    font-size: 20px;
    color: #eeeeee;
    text-align: center;
}
.header a {
    text-decoration: none;
    color: #eeeeee;
}

